header,html,body{
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.voltar, .proximo{
    width: 5rem;
}
h1{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}
form{
    font-size: 2rem;
}
