header,html,body{
    width: 100%;
}
.voltar{
    width: 5rem;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}
.demonstracao{
    width: 20rem;
}
.execucao{
    font-size: 4rem;
    font-weight: bold;
}
h2{ 
    font-size: 2rem;

}